<!-- footer -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3">
                <img src="assets/logo.jpg" class="img"/>
            </div>

            <div class="col-lg-3">
                <ul>
                    <p>Order Now</p>
                    <li>Deals</li>
                    <li>Dark chocolate</li>
                    <li>Desert</li>
                    <li>Donuts</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <p>About Us</p>
                    <li>About us</li>
                    <li>Contactless Deleivery</li>
                    <li>Nutrition</li>
                    <li>Global Blog</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <p>Our Policies</p>
                    <li>Terms & Condidtion</li>
                    <li>FAQs & Help</li>
                </ul>
            </div>
        </div>
    </div>
</div>
