<app-header></app-header>
<div class="container-mt">
  <h2 class="heading2">ABOUT US</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <a><img class="roundImg" src="assets/about us 2.jpg" alt="Bakery Img" width="100%"></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3 class="heading3">Bakery</h3>
      <br>
      <p class="text" id="text">Welcome to homemade. What does homemade mean to you? Is it <br>
        something you cook or make for your family or the time with family<br>
        or smells that build the memories.? When I started this homemade<br>
        baking business in April of 2012., it was with the idea that everyth-<br>
        ing would be made from scratch... Mainly because of my own new<br>
        memories in the kitchen of cooking with my family.. I hope you ha-<br>
        ve some great memories of homemade baked goods...., where the<br>
        scent of fresh-baked.. breads or chocolate chip cookies came from<br>
        a kitchen with people who loved and cared about you......... This is<br>
        where homemade becomes a beautiful..... description of a place in<br>
        time that we felt loved, or even safe....... If you were lucky enough<br>
        to experience this with someone special......., then you know what<br>
        I’m talking about.............. I hope that you feel that way with every<br>
        order you receive from Angela’s Bakery...........................................</p>
      <a>
        <img class="roundImg" src="assets/about us 3.jpg">
      </a>
    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <h2 class="heading2">Opening Hours</h2>
    <p class="text">
      Monday-Saturday :- 12 AM To 12 PM <br>
      Sunday :- 3 PM To 12 AM
      <br>
      <br>
      .................Come & Join The Table...............
    </p>
  </div>
  <div class="row">
    <div class="row" style="justify-content: center;">
      <a class="btn btn-success">Feel Free To Come & Enjoy with your Family, Friends & Loving Once<br> ..........It's
        Time To Hangout..........</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
